<!DOCTYPE html>
<html>

<head>
  <title>EMPRESU</title>

  <% include ./partes/imports%>
<style type="text/css">
    .hidden.menu {
      display: none;
    }
    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }
  </style>
    <script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
  </script>
</head>

<body>
    <!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Inicio</a>
    <a class="item">Quienes Somos</a>
     <div class="violet inverted right menu">
        <%if (!estaAutentificado){ %>
          <a class="item" href="/auth/signup">Registrarse</a>
          <a class="item" href="/auth/signin">Iniciar Sesión</a>
          <%}%>
        <%if (estaAutentificado){%>
          <div class="ui simple inverted dropdown item">
                <%=user.nombre%>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <a class="item inverted violet" href="/users/panel"><i class="edit icon"></i> Perfil</a>
                    <a class="item inverted violet" href="/auth/logout"><i class="globe icon"></i> Cerrar Sesión</a>
                  </div>
          </div>
        <%}%>
      </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Inicio</a>
  <a class="item">Quienes Somos</a>
  <%if (!estaAutentificado){ %>
          <a class="ui item button inverted" href="/auth/signup">Registrarse</a>
          <a class="item" href="/auth/signin">Iniciar Sesión</a>
          <%}%>
        <%if (estaAutentificado){%>
           <div class="menu">
              <div class="item"> <%=user.nombre%></div>
              <a class="item" href="/users/panel"><i class="edit icon"></i> Perfil</a>
              <a class="item" href="/auth/logout"><i class="globe icon"></i> Cerrar Sesión</a>
          </div>
        <%}%>
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Inicio</a>
        <a class="item">Quienes Somos</a>
        <div class="right item">
          <%if (!estaAutentificado){ %>
          <a class="ui inverted button" href="/auth/signup">Registrarse</a>
          <a class="ui inverted button" href="/auth/signin">Iniciar Sesión</a>
          <%}%>
        <%if (estaAutentificado){%>
                
                  <div class="menu">
                    <a class="ui inverted button" href="/users/panel"><%=user.nombre%></a>
                    <a class="ui inverted button" href="/users/panel"><i class="edit icon"></i> Panel</a>
                    <a class="ui inverted button" href="/auth/logout"><i class="globe icon"></i> Cerrar Sesión</a>
                  </div>
 
        <%}%>
        </div>
      </div>
    </div>
    <div class="ui text container">
      <img class="ui centered large image" src="images/logos/a 1024.png">
      <h2>Sistema Presupuestal ideal para su empresa</h2>
      <a href='/users/panel'class="ui huge primary button">Inicio <i class="right arrow icon"></i></a>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <% if (estaAutentificado){%>
          <h3 class="ui header"> Bienvenido :  <%=user.nombre%></h3>

         <%}%>
          <% if (!estaAutentificado){%>
          <h3 class="ui header"> Bienvenido a Empresu </h3>

         <%}%>
          <p>descricion de lo que hacemos.</p>
          <h3 class="ui header">OTRA TITULO (SE PUEDE ELIMINAR ESA PARTE)</h3>
          <p>descripcion bla bla bla</p>
        </div>
        <div class="six wide right floated column">
          <img src="images/mascota/MASCOTA.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Visitenos</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Acerca de Nosotros</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Contactenos</a>

          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Servicios</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sistema Presupuestal</a>
            <a href="#" class="item">las demas cosas</a>
            <a href="#" class="item">y tipos</a>
            <a href="#" class="item">igual</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header"></h4>
          <p>Gracias por confiar en nuestro producto</p>
        </div>
      </div>
    </div>
  </div>
</div>


</body>

</html>